<?xml version="1.0"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro">

    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem/<plugin>
        </hardware>
        <joint_name="front_right_axel_joint">
            <command_interface name="position">
                <param name="min">${steer_limlow}</param>
                <param name="max">${steer_limhigh}</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint_name="front_left_axel_joint">
            <command_interface name="position">
                <param name="min">${steer_limlow}</param>
                <param name="max">${steer_limhigh}</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name"gazebo_ros2_control">
            <parameters>$(find md_beta)/config/controller_configuration.yaml</parameters>
        </plugin>
    </gazebo>

</robot>